POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=1234

AUTH_CLIENT_ID=some-client
AUTH_CLIENT_SECRET=abcd1234acbd1234acbd1234abcd1234

USE_PROMETHEUS_METRICS=false

PROMETHEUS_PORT=1234
GRAFANA_PORT=1234