POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080

AUTH_CLIENT_ID=bank-system-client
AUTH_CLIENT_SECRET=bRDRGsVyYzi6R6cmPxYx6KlQJzLeCbOD

USE_PROMETHEUS_METRICS=false